body {font:14px/1.5 Verdana, Arial, Helvetica, sans-serif; }

#tt {position:absolute; display:block; }
#tttop {display:block; height:5px; margin-left:5px; overflow:hidden}
#ttcont {display:block; padding:2px 7px 3px 7px; margin-left:5px; background:#666; color:#FFF; overflow:visible;}
#ttbot {display:block; height:5px; margin-left:5px; overflow:hidden}
