body {
   background-color :#eeeeee;
   // background-image: url("paqu.png");
   // background-postion: top left;
   // background-attachment: scroll;
   // background-repeat: no-repeat;
   font-family:verdana;
   margin: 0px auto 4em auto;
   padding: 0px .5em;
   max-width: 960px;
}

#topmenu, #login {
    font-family: helvetica, arial;
}
#login   {
   background-image: url("paqu.png");
   background-postion: center left;
   background-attachment: scroll;
   background-repeat: no-repeat;
   background-color: #d0d0d0;
   text-align: right;
}
#login form {
   padding: .5em 1em;
}
#login input {
    margin: 0px;
}

#topmenu {
  background-color: #707070;
  padding: 0px .5em;
  margin-bottom: 4em;
}
#topmenu a {
    display: inline-block;
    min-width: 4.5em;
    text-decoration: none;
    color: white;
    padding: .5em .5em;
    margin: 0px;
}
#topmenu a.selected,
#topmenu a:hover {
    background-color: white;
    color: black;
}


a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.ico {
    padding: 0px .5em;
}
a.ico:hover {
    text-decoration: none;
}
#stats, #statsmeta, #statsrel, #xstats {
   background:#e0e0e0;
   padding: 10px;
   font-size: small;
}

#statresults td,
#corpustabel td {
    padding: 0px .5em;
}


table.home td {
   margin: 0px;
   padding: .3em 0px;
}

table.right td,
td.right {
  text-align: right;
}
table.right td.left {
  text-align: left;
}
td.ok {
    background-color: #80ff80;
}
td.error {
    background-color: #ff8080;
}
td.next {
    padding-left: 1em;
    margin-left: 1em;
    border-left: 1px solid grey;
}
th.link,
td.link {
    color: #0000c0;
    cursor: pointer;
}
div.example, div.vb {
    padding: 1em 2em;
    margin: 1em 0px 2em 0px;;
    background-color: white;
    border: 1px solid lightgrey;
    line-height: 1.5em;
}
dt {
   font-weight: bold;
}
dd {
   margin-top: .5em;
   margin-bottom: 1.5em;
}
span.hfd {
  background-color: lightgreen;
}
span.wrd {
  background-color: yellow;
}

li.li1 {
    margin-top: 1em;
}

li.li2 {
    margin-top: .3em;
}

div.foot {
    text-align: right;
    font-size: small;
}

img.noborder {
    border: 0px;
}
.hide {
    display: none;
    visibility: hidden;
}

td.odd, td.even, td.ok, td.error {
    margin: 0px;
    border: 0px;
    padding: .3em 1em;
}
th {
    margin: 0px;
    border: 0px;
    padding: .3em;
}

tr.odd td.odd {
     background-color: #ffffff;
}
tr.odd td.even {
     background-color: #ffffff;
}
tr.even td.odd {
     background-color: #e8e8e8;
}
tr.even td.even {
     background-color: #e8e8e8;
}

tr.odd:hover td.odd,
tr.odd:hover td.even,
tr.odd:hover td.ok,
tr.odd:hover td.error,
tr.even:hover td.odd,
tr.even:hover td.even,
tr.even:hover td.ok,
tr.even:hover td.error {
    background-color: #e0e0ff;
}

td.odd,
td.even,
td.ok,
td.error
{
    border-right: 1px solid lightgrey;
}
td.first { border-left: 1px solid lightgrey; }

td.delete {
    margin: 0px;
    border: 0px;
    padding: .3em .4em .3em .2em;
    color: #c00000;
}
a.delete:link,
a.delete:visited,
a.delete:active,
a.delete:hover
{
    text-decoration: none;
    color: #c00000;
}

td.more {
    margin: 0px;
    border: 0px;
    padding: .3em .2em;
    color: #0000c0;
}
a.opties:link,
a.opties:visited,
a.opties:active,
a.opties:hover
{
    text-decoration: none;
    color: ##0000c0;
}

table.breed th {
  text-align: left;
}
table.breed th.right {
  text-align: right;
}
table.breed th, td {
  padding: 0px .5em;
  vertical-align: top;
}
table.breed td.right {
  text-align: right;
}
table.breed tr.odd {
  background: #d0d0d0;
}

table.corpora {
    background-color: #f3f3f3;
    padding: .5em;
    border-spacing: 0px;
    border: 1px solid lightgrey;
}

table.corpora td,
table.breed td {
    vertical-align: top;
}

tr.first td.even,
tr.first td.odd,
tr.first td.ok,
tr.first td.error {
    border-top: 1px solid lightgrey;
}

tr.last td.even,
tr.last td.odd,
tr.last td.ok,
tr.last td.error {
    border-bottom: 1px solid lightgrey;
}

div.error,
div.warning {
    margin: 2em 0px;
    padding: 1em 4em;
    border: 4px solid red;
    background-color: #ffe0e0;
}

td.nil {
    color: #909090;
}

td.multi {
    color: #60a060;
}

/****************************************************************/

div.submenu {
  background: #fff;
  position: absolute;
  max-width: 135px;
  display: none;
  margin: -1.5em 0px 0px 1em;
  padding: 5px 0;
  border: 1px solid grey;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.submenu li a,
.submenu li span.disabled {
  display: block;
  font-family: helvetica, arial;
  font-weight: bold;
  padding: 6px 15px;
  text-decoration: none;
}

.submenu li a {
  color: #555555;
}

.submenu li a:hover {
  background: #0000c0;
  color: #FFFFFF;
  text-decoration: none;
}

.submenu li span.disabled {
  color: #c0c0c0;
}

.corpushelp li a {
  color: #0000EE;
  display: inline;
  font-family: verdana;
  font-weight: normal;
  padding: 0px;
  text-decoration: underline;
}

.corpushelp li a:hover {
  background: white;
  color: #0000EE;
  text-decoration: underline;
}

.optielijst {
  list-style:none;
  margin:0px;
  padding:0px;
  font-size: 11px;
  padding: 0px;
}

/*** overrides for div.submenu *****/

div.a9999 {
  max-width: 900px;
}

div.corpushelp {
    margin: 1em 2em;
}

div.corpushelp li {
    margin: .5em 0px;
}

ol.xpath li {
    margin: .3em 0px;
}

.c1 { background-color: #7FCDBB; }
.c2 { background-color: #41B6C4; }
.c3 { background-color: #1D91C0; color: #ffffff; }
.c4 { background-color: #225EA8; color: #ffffff; }
.c5 { background-color: #0C2C84; color: #ffffff; }

/****************************************************************/

.dropdown-menu {
    font-size: small;
    border: 1px solid #000;
    background-color: white;
}

.dropdown-menu li {
    border-top: 1px solid #ddd;
    padding: 2px 5px;
}

.dropdown-menu li:first-child {
    border-top: none;
}

.dropdown-menu li:hover,
.dropdown-menu .active {
    background-color: rgb(110, 183, 219);
}


/* SHOULD not modify */

.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu a:hover {
    cursor: pointer;
}

a.normal {
    text-decoration: underline;
    color: #0000EE;
}

#macroOuter {
  padding: 1em;
  background-color: #e0e0e0;
}

#macroInner {
  margin-bottom: 1em;
  white-space: pre-wrap;
  font-family: monospace;
}

.bold {
    font-weight: bold;
    border: 4px solid #FF6600;
}

div.nodbxml .dbxml {
    display: none;
    visibility: hidden;
}

img.left {
    float: left;
    margin: 0px 1em 1em 0px;
}

br.both {
    clear: both;
}
.em {
    font-style: italic;
}
