/*

Kopieer dit bestand naar 'local_handlers.go' en definieer je eigen handlers

Go-bestanden waarvan de naam begint met 'local' worden niet in git opgenomen

*/

package main

import (
	"fmt"
	"html"
	"net/http"
)

func init() {

	// static handlers krijgen een zeer beperkte context
	// alleen w en r zijn gedefinieerd
	localStaticHandlers = []LocalHandlerType{
		LocalHandlerType{"/hello", localHello},
	}

	// dynamic handlers krijgen een complete context
	localDynamicHandlers = []LocalHandlerType{
		LocalHandlerType{"/whoami", localWhoami},
	}

	// als het derde argument true is verschijnt het item alleen op het menu als de gebruiker is ingelogd
	localMenu = []LocalMenuType{
		LocalMenuType{"/hello", "Hallo", false},
		LocalMenuType{"/whoami", "Wie ben ik?", true},
	}
}

func localHello(q *Context) {
	q.w.Header().Set("Content-type", "text/plain")
	cache(q)

	fmt.Fprintln(q.w, "Hallo, wereld!")
}

func localWhoami(q *Context) {
	if !q.auth {
		http.Error(q.w, "Je bent niet ingelogd", http.StatusForbidden)
		return
	}

	writeHead(q, "Wie?", 8)

	fmt.Fprintln(q.w, html.EscapeString(q.user))

	html_footer(q)
}
