
# Pas dit bestand aan en bewaar het als 'Makefile.cfg'

#### Variabelen voor Make zelf

# Als je geen DbXML hebt, gebruik dan -tags nodbxml
#TAGS = -tags nodbxml
TAGS =

# Extra opties voor 'go'
OPTS = -v

#### Environment-variabelen

# Als de Go-pakketten die nodig zijn niet al aanwezig zijn kun je de
# versies die bij PaQu zijn meegeleverd gebruiken. Zet dan GOPATH
# naar de directory '_vendor'
export GOPATH=$(HOME)/paqu/_vendor

# Zonodig extra paden naar C-headers en C-libraries
# Bijvoorbeeld als DbXML of Graphviz niet op een standaardlokatie staat
export CPATH=$(HOME)/include:$(HOME)/include/graphviz
export LIBRARY_PATH=$(HOME)/lib

